<div class="chatOnline">
    <div class="chatOnlineFriend">
        <div class="chatOnlineImgContainer">
            <img class="chatOnlineImg" src="https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="chatOnlineBadge">

            </div>
            <span class="chatOnlineName">John Doe</span>
        </div>
    </div>
</div>

<div class="chatOnline">
    <div class="chatOnlineFriend">
        <div class="chatOnlineImgContainer">
            <img class="chatOnlineImg" src="https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="chatOnlineBadge">

            </div>
            <span class="chatOnlineName">John Doe</span>
        </div>
    </div>
</div>
<div class="chatOnline">
    <div class="chatOnlineFriend">
        <div class="chatOnlineImgContainer">
            <img class="chatOnlineImg" src="https://images.pexels.com/photos/1987301/pexels-photo-1987301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="chatOnlineBadge">

            </div>
            <span class="chatOnlineName">John Doe</span>
        </div>
    </div>
</div>